.features {
  
  &-container {
    background-color: #d6ecec;
    width: 100vw;
    transform: translateX(calc(60px / -2));
    background-image: url(../images/feature/background_tablet.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    
    @media (min-width: 400px) {
      background-size: inherit;
      background-position: bottom;
      background-position-x: 95%;
    }

    @include onTablet {
      transform: translateX(0);
      width: inherit;
    }

    @include onDesktop {
      background-image: url(../images/feature/background-desktop.png);
    }
  }
  &__items {
    &--notDesktop {
      padding: 0;
      list-style-type: none;
      margin-bottom: 50px;
      width: 260px;
      overflow: hidden;
      
      @include onDesktop {
        display: none;
      }
    }
  }

  &__content {
     
    @include onDesktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 50% 50%;
    }
  }

  &__item {
    margin-bottom: 50px;
    

    @include onDesktop {
      margin-bottom: 60px;

      &--1-1 {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
      }

      &--1-2 {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
      }

      &--2-1 {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
      }
    }
  }

  &__container {
    display: flex;
  }
}
   
.feature {
  width: 270px;

  @include onDesktop {
    width: 380px;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #0c797a;
    margin-bottom: 20px;
    width: 260px;

    @include onDesktop {
      font-size: 34px;
      line-height: 42px;
      margin-bottom: 30px;
      width: 380px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    vertical-align: sub;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
    background: url(../images/feature/list_style.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 1em;

    @include onDesktop {
      font-size: 16px;
      line-height: 24px;
    }
      
    &:last-child {
      margin-bottom: 0;
    }
  }

  &--desktop {
    display: none;

    @include onDesktop {
      display: block;
    }
  }
}

.slide-switch {
  margin: 0 auto;

  @include onTablet {
    margin: 0;
  }
   
  @include onDesktop {
    display: none;
  }
  padding-bottom: 250px;
  box-sizing: border-box;
  display: flex;
  width: 96px;
  height: 50px;
  flex-wrap: wrap;
  justify-content: center;

  &__button {
    &--prev {
      background-image: url(../images/feature/switch_black_prev.svg);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: #d6ecec;
      width: 48px;
      height: 14px;
      border: none;

      &:hover {
        background-image: url(../images/feature/switch_blue_prev.svg);
      }

      &[disabled] {
        background-image: url(../images/feature/switch_grey_prev.svg);
      }
    }

    &--next {
      background-image: url(../images/feature/switch_black_next.svg);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: #d6ecec;
      width: 48px;
      height: 14px;
      border: none;
      margin-bottom: 10px;

      &:hover {
        background-image: url(../images/feature/switch_blue_next.svg);
      }

      &[disabled] {
        background-image: url(../images/feature/switch_grey_next.svg);
      }
    }
  }

  &__text {
    display: inline-block;

    &--start {
      font-size: 16px;
      line-height: 20px;
      color: $colorGray;
    }
        
    &--end {
      font-size: 11px;
      line-height: 14px;
      color: #bdbdbd;
    }
  }
}
